/*===================================


  Universal Styling


*=====================================*/
*{
  margin: 0;
  padding: 0;
  border: 0;

}


@font-face {
  font-family: "Sofia";
  src: url(Fonts/Sofia.ttf) format('truetype');
}

@font-face {
  font-family: "Sofia-Light"; src: url(url("//db.onlinewebfonts.com/t/b3be20d887cc494d12ade85591c774a8.ttf") format("truetype") }

@font-face {
  font-family: "BodoniXT";
  src: url(Fonts/BodoniXT.ttf) format('truetype');
}

p,
h3{
  font-family: "Sofia", sans-serif;
  font-weight: lighter;
}

h1,
h2{
  font-family: 'BodoniXT', serif;
  font-weight: lighter;
}

.container{
  padding: 17px ;
}

/*===================================


  Header Styling

*=====================================*/
nav{
   display: flex;
   position: absolute;
   top:0;
   width: 100%;
   overflow: auto;
   height: auto;
   padding-top: 50px;
}

.left-link{
  font-family: "BodoniXT";
  font-size: 30px;
  flex:1 300px ;
  padding-left: 30px;
}

.right-links{
  padding: 20px 50px 0px 350px;
  flex: 2 40px;

}
nav a {
  color: white;
  text-decoration: none;
  font-family: 'Sofia-Light', sans-serif;
  font-size: 12px;
  margin: 0px 10px;

}
nav a:hover {
  color: black;
  transition: .2s;
  list-style: none;
}
.selected{
   border-bottom: 2px solid ;
   color: #f7e5e3;
}


/*===================================


Footer style


*=====================================*/

footer{
  background: #333;
  padding:10px 30px;
  text-align: left;
  position: relative;
}
footer img {
  width: 60px
}



/*===================================


  Home Styling


*=====================================*/


.smile-image-section{
  background-image: url('/Users/DavidFriedman/Documents/School/UF/Web-Design/Website/images/Homepage.png');
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 400px 50px;
}




/*===================================


  About Styling


*=====================================*/
