/*===================================


  Universal Styling


*=====================================*/
*{
  margin: 0;
  padding: 0;
  border: 0;

}


@font-face {
  font-family: "Sofia";
  src: url(Fonts/Sofia.ttf) format('truetype');
}

@font-face {
  font-family: "Sofia-Light"; src: url(url("//db.onlinewebfonts.com/t/b3be20d887cc494d12ade85591c774a8.ttf") format("truetype") }

@font-face {
  font-family: "BodoniXT";
  src: url(Fonts/BodoniXT.ttf) format('truetype');
}

p,
h3{
  font-family: "Sofia", sans-serif;
}

h1,
h2{
  font-family: 'BodoniXT', serif;
  font-weight: lighter;
}

.container{
  padding: 17px ;
}

.italic{
  font-style: italic;
}
/*===================================


  Header Styling

*=====================================*/
nav{
   display: flex;
   width: 100%;
   overflow: auto;
   height: auto;
   padding-top: 50px;
   align-items: center;
   background: #f7e5e3;
}

.left-link{
  font-family: "BodoniXT";
  font-size: 20px;
  flex:1 auto ;
  padding-left: 30px;
  font-weight: lighter;
}

.right-links{
  color: white;
  flex: 1 auto;
  text-align: right;

}
nav a {
  color: black;
  text-decoration: none;
  font-family: 'Sofia-Light', sans-serif;
  font-size: 13px;
  margin: 0px 10px;

}
nav a:hover {
  color: black;
  opacity: 50%;
  transition: .2s;
  list-style: none;
}

nav ul li{
  color: white;
}

.nav-alt a{
  color: white;
}
.nav2{
  background: transparent;
  display: flex;
  width: 100%;
  overflow: auto;
  height: auto;
  padding-top: 50px;
  align-items: center;
  background: #f7e5e3;
}
/*===================================


Footer style

*=====================================*/


footer{
   display: flex;
   width: 100%;
   overflow: auto;
   height: auto;
   background: #333;
}

.socialmedia {
  display: flex;
}
footer img {
  width: 60px
}
.footl{
  flex:1 auto ;
  width: 400px;
}

.footr{
  flex: 1 auto;
  text-align: right;
  width: 50%;
  padding-left: 200px;
}



.footl {
padding-left: 10%;
width: 400px;
}
/*===================================


  Home Styling


*=====================================*/


.smile-image-section{
  background-image: url('images/Homepage.png');
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 400px 50px;
  padding-top: -100px;
  margin-top: -100px;
}




/*===================================


  About Styling


*=====================================*/
.about{
  background-color: #f7e5e3;
  padding-top: 150px;
}

.about p{
  font-size: 15px;
  text-align: left;
  margin: 30px;
  line-height: 26px;
}
.about h2{
  font-size:30px;
  text-align: center;
}

.container{
  padding-left:  270px;
  padding-right: 270px;
}

.abtl{
float: left;
padding-left: 50px;
padding-top: 55px;
width: 150px
}

.abtr{
  float:right;
  padding-right: 50px;
  padding-top: 400px;
  width: 150px
}



/*================



slideshow




=========*/
.slideshow{
  background-color: #f7e5e3;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 20px;
}

.slideshow-container {
  position: relative;
  background-color: rgba(214,118,107,0.15);
}




/* Hide the images by default */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  opacity: 50%;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: Black;
  font-size: 15px;
  position:relative;
  bottom: 8px;
  text-align: center;
  font-family: "Sofia"
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.mySlides img{
  width: 100%;
}

/*===================================


  Resume Styling


*=====================================*/


.resume{
  min-width: auto;
  min-height: 100%;
  background-color: #f7e5e3;
  padding-top: 100px;

}

.resume h1{
  text-align: center;
  font-family: "BodoniXT", Serif;
  font-size: 57px;
  padding-bottom: 50px;
  font-weight: 300;
}

.button {
  background-color: #f7e5e3;
  color: black;
  border: 2px solid #555555;
  font-family: "Sofia-Light",sans-serif ;
  font-size: 11px;
  text-transform: uppercase;
  padding: 21px 34px;
  font-weight: 600;
  letter-spacing: .1em;
}

.button:hover {
  background-color: black;
  color: #f7e5e3;
  border-color: rgba(214,118,107, .5);
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
.rsbtn{
  margin-left: 15%;
}
.hsbtn{
  margin-left: 25%;

}




.rsl-container {
padding-left: 37.5%;
min-height: 600px;
background-color: #f7e5e3
}


.rsl-container {
padding-left: 25%;
min-width: 400px;
padding-left: 37.5%;
}
slider{
  display: block;
  width: 25%;
  height: 600px;
  overflow:hidden;
  position: absolute;
}

slider > * {
  position: absolute;
  display: block;
  width:100%;
  height:100%;
  background: red;
  animation: slide 12s infinite;
  overflow: hidden;
}


slide:nth-child(1){
  left:0%;
  animation-delay: -1s;
  background-image: url("images/Resume/reel/hs1.png");
  background-size: cover;
  background-position: center;
}

slide:nth-child(2){
    left:0%;
  animation-delay: 2s;
  background-image: url("images/Resume/reel/hs2.jpg");
  background-size:  cover;
  background-position: center;
}

slide:nth-child(3){
  animation-delay: 5s;
  background-image: url("images/Resume/reel/hs3.png");
  background-size:cover;
  background-position: center;
}

slide:nth-child(4){

  animation-delay: 8s;
  background-image: url("images/Resume/reel/hs4.jpg");
  background-size: cover;
  background-position: center;
}


@keyframes slide {
  0%{ left: 100%; width: 100%;}
  5% { left:0%}
  25% {left: 0%}
  30% {left:-100% ;width: 100%}
  30.0001% { left: -100%; width: 0%;}
  100%{ left: 100% ; width: 0%}
}





/*===================================


  Media Styling


*=====================================*/

.media-container{
  background-color: #f7e5e3;
  padding-left: 6%;
padding-right: 6%;
}

.text{
  padding-top: 4%;
  font-size: 100%
}
.media-pics img{
    width:100%;
}

.media-pics > h1:nth-child(1) {
padding-right: 45%;
padding-left: 45%;
}

div.row:nth-child(2) {
padding-top: 50px;
}

.column {
  float:left;
  padding: 5px;
  width: 19.2%;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.media-container h1{
  font-size: 40px;
  text-align: center;
  padding-top: 5%;
}





.ytvideos{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%
}

.ytvideos p {
  text-align: center;
  padding-top: 10px;
}

.video {
padding-top: 3%;
padding-left: 5.5%;
padding-bottom: 4%
}
/*===================================


  Contact Styling


*=====================================*/
.contact-me{
  background-color: #f7e5e3;
}



.LA{
    text-align: right;
    margin-left: 22%;
    line-height: 30px;
    float:left
}

.NYC{
  margin-right: 22%;
  line-height: 30px;
  float: right;
}

.Avalon img{
  position: relative;
  padding-left:25%;
  padding-right: 25%;
  width: 50%;
  padding-bottom: 10px;
  padding-top: 100px
}

.Avalon h1{
  font-family: "BodoniXT";
  font-size: 30px;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 15px;
}


/*=========================

Form Style


=========================*/



.Form{
  max-width: 500px;
  margin:auto ;
  position: static;
  background-color: #f7e5e3;
  padding-bottom: 50px;
padding-left: 25%;
padding-right: 25%;
}

.label_imput_wrap{
  display:inline;
  font-weight: normal;
}

.submit input{
  background:#f7e5e3;
  color: black;
  padding: 1px;
  position:relative;

}
.submit{
  border-width: medium;
  border-color: white;

}

.input-section{
  margin-bottom: 20px;
  font-size: 15px;


}


/*/////////inputs////////*/


input {
    padding: 5px 10px;
    border-radius:3px;
    font-family: 'Sofia';
    background-color: white;
    border: .5px solid grey;
    line-height: 30px;
    width: 100%;
    font-size: 15px;
}

textarea{
  font-family: 'Sofia';
  padding: 10px 10px;
  background-color: white;
  border: 1px solid grey;
  width: 100%;
  min-height: 150px;
}

.row {
  padding-top: 100px;}
