/*===================================


  Universal Styling


*=====================================*/
*{
  margin: 0;
  padding: 0;
  border: 0;

}


@font-face {
  font-family: "Sofia";
  src: url(Fonts/Sofia.ttf) format('truetype');
}

@font-face {
  font-family: "Sofia-Light"; src: url(url("//db.onlinewebfonts.com/t/b3be20d887cc494d12ade85591c774a8.ttf") format("truetype") }

@font-face {
  font-family: "BodoniXT";
  src: url(Fonts/BodoniXT.ttf) format('truetype');
}

p,
h3{
  font-family: "Sofia", sans-serif;
}

h1,
h2{
  font-family: 'BodoniXT', serif;
  font-weight: lighter;
}

.container{
  padding: 17px ;
}

.italic{
  font-style: italic;
}
/*===================================


  Header Styling

*=====================================*/
nav{
   display: flex;
   position: absolute;
   top:0;
   width: 100%;
   overflow: auto;
   height: auto;
   padding-top: 50px;
}

.left-link{
  font-family: "BodoniXT";
  font-size: 20px;
  flex:1 300px ;
  padding-left: 30px;
  font-weight: lighter;
}

.right-links{
  padding: 15px 50px 0px 350px;
  flex: 2 40px;
  color: white;

}
nav a {
  color: black;
  text-decoration: none;
  font-family: 'Sofia-Light', sans-serif;
  font-size: 13px;
  margin: 0px 10px;

}
nav a:hover {
  color: black;
  opacity: 50%;
  transition: .2s;
  list-style: none;
}

nav ul li{
  color: white;
}

.nav-alt a{
  color: white

}
/*===================================


Footer style

*=====================================*/


footer{
  background: #333;
  padding:10px 30px;
  position: relative;
}

footer img {
  width: 60px
}



/*===================================


  Home Styling


*=====================================*/


.smile-image-section{
  background-image: url('/Users/DavidFriedman/Documents/School/UF/Web-Design/Website/images/Homepage.png');
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 400px 50px;
}




/*===================================


  About Styling


*=====================================*/
.about{
  background-color: #f7e5e3;
  padding-top: 200px;
}

.about p{
  font-size: 15px;
  text-align: left;
  margin: 30px;
  line-height: 26px;
}
.about h2{
  font-size:30px;
  text-align: center;
}

.container{
  padding-left:  270px;
  padding-right: 270px;
}

.abtl{
float: left;
padding-left: 50px;
padding-top: 55px;
width: 150px
}

.abtr{
  float:right;
  padding-right: 50px;
  padding-top: 400px;
  width: 150px
}



/*================
slideshow
=========*/
.slideshow{
  background-color: #f7e5e3;
  padding-left: 445px;
  padding-right: 445px;
  padding-bottom: 20px;
}

.slideshow-container {
  position: relative;
  background-color: rgba(214,118,107,0.15);
}




/* Hide the images by default */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  opacity: 50%;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: Black;
  font-size: 15px;
  position:relative;
  bottom: 8px;
  text-align: center;
  font-family: "Sofia"
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/*===================================


  Resume Styling


*=====================================*/


.resume{
  min-width: auto;
  min-height: 100%;
  background-color: #f7e5e3;
  padding-top: 200px;

}

.resume h1{
  text-align: center;
  font-family: "BodoniXT", Serif;
  font-size: 57px;
  padding-bottom: 50px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
